*{
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.head {
  top: 0;
  width: 100%;
  height: 20px;
  font-size: 1.5em;
}

.head li {
  cursor: pointer;
  color: rgb(255, 255, 255);
}
body {
  font-family: "Roboto", "sans-serif";
  color: #f0f0f0;
  background-color: #2b2b2b;
  display: grid;
  place-items: center;
  width: 100%;
}

.inicio {
  background-image: url("../images/Background2_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20%;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.inicio-content {
  margin: 5%;
  padding: 2%;
  font-size: 20px;
  max-width: 100%;
}
.texto-inicio {
  height: 10%;
  max-width: 50%;
  margin-top: 15%;
  margin-left: 5%;
  border-radius: 15px;
  border-color: #f0f0f0;
  background-size: contain;
  z-index: 2;
  color: #ffffff;
  font-family: "Lato", "sans-serif";
  font-size:larger;
  text-align: left;
}
.texto-inicio-header h1 {
  font-family: "Lato";
  font-weight: bold;
  font-size: 3.6em;
  margin-bottom: 5px;
}
.texto-inicio p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 40px;
}
.cards{
  display: grid;
  justify-items: center;
  justify-content: center;
}
.cards ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
  place-items: center;
  margin-top: 2%;
  width: 90%;
}
.cards li {
  list-style: none;
  margin-top: 2%;
  height: 100%;
  width: 100%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border-radius: 15px;
  font-size: 16px;
  display: grid;
  justify-items: left;
  align-items: left;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.cards ul li h3{
  margin-bottom: 4%;
  font-size: 18px;
}
.cards ul li p{
  font-size: 15px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 20px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
  color: #f0f0f0;
  margin: 2%;
  font-weight: 800;
  font-size: large;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
html {
  scroll-behavior: smooth;
}
.servicos {
  width: 100%;
  margin-top: 5%;
  padding: 3%;
  padding-bottom: 50%;
  border: 2px;
  background-color: #2b2b2b;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}
.colunas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.colunas ul{
  padding-left: 3px;
  margin: 0;
  display: grid;
  place-items: center;
}
.colunas img{
  width: 100%;
  height: auto;
}
.colunas li {
  display: grid;
  padding: 2%;
  text-align: center;
  justify-content: center;
  max-width: 85%;
}
.colunas ul{
  display: grid;
  justify-content: center;
}
.colunas h1{
  font-size: 3.5em;
  font-weight:bold;
  width: 80%;
  margin-bottom: 10%;
  text-align: left;
}
.colunas li p{
  font-size: 1.3em;
  text-align: left;
}
.colunas h2{
  font-size: 2em;
}
.contato {
  width: 90%;
  background-color: #2b2b2b;
  justify-content: center;
  padding: 5%;
  display: grid;
  place-items: center;
}

.principal h1 {
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: bold;
}
.principal p {
  margin-bottom: 10;
  font-size: 1.2em;
}

.titulo-contato {
  margin: 10%;
  padding-bottom: 2%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px -4px 28px -7px rgba(0, 0, 0, 0.91);
  background-color: #2b2b2b;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
}
.titulo-contato h2{
  font-size: 1.7em;
  margin-bottom: 3%;
}
.titulo-contato p{
  font-size: 1em;
}
.box header {
  margin-bottom: 7%;
  margin-top: 5%;
  justify-items: left;
}

.box {
  width: 140%;
  padding: 20px;
  margin-left: 85%;
  margin-bottom: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.principal {
  text-align: center;
  font-weight: 5000;
}

.contato header h1 {
  font-weight: bold;
  font-weight: 3000;
}

.image-box {
  padding: 20px;
  margin: 10px;
  margin-bottom: 30px;
  align-items: start;
  height: 90%;
  display: grid;
  width: 32%;
  opacity: 0;
}

.image-box img {
  max-width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border: 1px solid #6b6969;
  border-radius: 7px;
  align-content: center;
  background-color: #2b2b2b;
  resize: none;
}
.form-group label {
  position: absolute;
  font-size: 15px;
  top: 15px;
  left: 12px;
  color: #999;
  transition: 0.3s ease all;
  pointer-events: none;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: 0px;
  left: 10px;
  color: #999;
  padding: 0 7px;
}
.form-group input{
  color: white;
}
.form-group input:focus {
  border-color: #007bff;
}

.form {
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 400px;
  height: auto;
  max-height: 300px;
  margin-top: 0px;
}

.nome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.botao-contato {
  width: 107%;
  background: linear-gradient(90deg, #763af5 0%, #a604f2 100%);
  color: white;
  padding: 10px;
  border: 1px solid #6b6969;
  border-radius: 7px;
  cursor: pointer;
}

.sobre {
  width: 100%;
  background-color: #2b2b2b;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}

.titulo-sobre {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
}
.box-sobre{
  display: grid;
  place-items: center;
  gap: 5%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  width: 100%;
}
.box-sobre img{
  display: grid;
  place-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  border-radius: 15px;
  margin-left: 6%;
}
.coluna-sobre{
  width: 90%;
}
.coluna-sobre p{
  font-size: 1.2em;
  padding-bottom: 11%;
}
.rodape{
  width: 100%;
  height: 50vh;
  display: grid;
  place-items: center;
}
.logo{
  justify-self: baseline;
  margin: 5%;
}
.logo h2{
  font-size: 30px;
  font-weight: bold;
}
.listas{
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  display: grid;
  justify-content: center;
}
.listas p{
  color: #FBD784;
  font-size: 1.5em;
}
.listas h2{
  font-size: 2.5em;
}
.redes-sociais{
  list-style: none;
}
.redes-sociais li{
  padding: 7px;
}
.ig{
  list-style-image: url("../images/ig-logo.png");
}
.fb{
  list-style-image: url("../images/fb-logo.png");
}
.wpp{
  list-style-image: url("../images/wpp-logo.png");
}
.email{
  list-style-image: url("../images/email-logo.png");
}
.menu{
  list-style: none;
  width: 100%;
}
.menu li{
  padding: 7px;
  cursor: pointer;
}
@media (min-width: 1024px){
  .inicio{
    padding-bottom: 0%;
  }
  .servicos{
    margin-top: 10%;
    padding-bottom: 0%;
  }
  .cards ul{
    grid-template-columns: repeat(3, 1fr);
  }
  .cards li h3{
    font-size: 18px;
  }
  .cards li p{
    font-size: 18px;
  }
  .colunas{
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 3%
  }
  .colunas ul{
    padding: 0%;
  }
  .colunas ul li p{
    padding-left: 0%;
    padding-right: 0%;
    width: 110%;
  }
  .colunas ul li img{
    width: 100%;
    justify-self: center;
  }
  .box{
    width: 100%;
    padding: 20px;
    margin: 5px;
    margin-bottom: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
  .image-box{
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    width: 70%;
    opacity: 1;
  }
   .box-sobre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    width: 90%;
  }
  .box-sobre img{
    width: 100%;
    height: 150%;
  }
  .coluna-sobre{
    width: 90%;
    max-height: 90%;
  } 
  .coluna-sobre p{
    font-size: 1.4em;
  }
  .rodape{
    grid-template-columns: repeat(2, auto);
  }
  .logo{
    justify-self: center;
  }
  .logo h2{
    font-size: 3em;
  }
  .listas{
    justify-self: center;
    margin-right: 10%;
    gap: 30%;
  }
}
@media (min-width: 768px) and (max-width: 1023px){
  .servicos{
    padding-bottom: 20%;
  }
  .rodape{
    grid-template-columns: repeat(2, 1fr);
  }
  .colunas ul li img{
    width: 125%;
    justify-self: center;
  }
  .colunas ul li p{
    padding-left: 5%;
    padding-right: 3%;
  }
  .colunas h1{
    padding-left: 7%;
    padding-right: 5%;
  }
  .box{
    width: 140%;
    padding: 20px;
    margin-left: 45%;
    margin-bottom: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
  .image-box{
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    align-items: center;
    justify-self: right;
    width: 40%;
    opacity: 1;
  }
  .coluna-sobre p{
    padding-left: 5%;
    padding-right: 5%;
  }
}