.head {
z-index: 3;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
    color: #f0f0f0;
    background-color: #072833;
    
}
.inicio {
    background-image: url('../images/background-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.inicio-content{
    margin: 10vw;
}
.texto-inicio{
    height: 10%;
    width: 50%;
    border-radius: 15px;
    padding-right: 50vh;
    border-color: #f0f0f0;
    padding: 20px;
    background-size: contain;
    z-index: 2;
    color: #4fafcf;
    font-family: 'Lato', 'sans-serif';
    text-align: left;
}
.texto-inicio button{
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px;
    border-radius: 15px;
    background-color: white;
    color: #072833;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-align: left;
}
.texto-inicio-header{
    margin: 0%;
}
.texto-inicio-header h1{
    font-family: 'Lato';
    font-weight: 900;
    font-style: normal;
    font-stretch: extra-expanded;
    margin: 0;
}
.cards ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: left;
    align-items: center;
    padding: 0%;
}
.cards li{
    list-style: none;
    height: 150px;
    width: 200px;
    margin-top: 10vh;
    padding: 20px;
    backdrop-filter: blur(50px);
    border-radius: 15px;
    display: grid;
    justify-items: left;
    align-items: left;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    color: #f0f0f0;
    margin: 40px;
    font-weight: 800;
    font-size: large;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f0f0f0;
}

html {
    scroll-behavior: smooth;
}

.servicos{
    width: 100vw;
    height: 100vh;
    background-color: #072833;
    margin: 0;
}

.contato{
    width: 100vw;
    height: 100vh;
    background-color: #072833;
    margin: 0;
    display: grid;
    place-items: center;
}
.sobre {
    width: 100vw;
    height: 100vh;
    background-color: #072833;
    margin: 0;
}
.conteudo-contato{
    margin: 10vh;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0px -4px 28px -7px rgba(0,0,0,0.91);
    background-color: #1d3a46;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.principal{
        text-align: center;
}
.contato header h1{
    font-weight: bold;
    font-weight: 1000;
}
.box {
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}
.image-box {
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}
.image-box img{
    max-width: 100%;
}
.form-group {
    position: relative;
    margin-bottom: 20px;
  }
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #6b6969;
    border-radius: 7px;
    align-content: normal;
    background-color: #1d3a46;
    resize: none;
  }
.form-group label {
    position: absolute;
    top: 15px;
    left: 12px;
    color: #999;
    transition: 0.3s ease all;
    pointer-events: none;
  }
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: -20px;
  left: 10px;
  color: #999;
  padding: 0 5px;
}
.form-group input:focus {
  border-color: #007bff;
}
.form{
    align-items: center;
    justify-content: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 300px;
  margin-top: 30px;
}
.nome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.botao {
  width: 107%;
  background: linear-gradient(90deg, #000046 0%, #1cb5e0 100%);
  color: white;
  padding: 10px;
  border-radius: 5px;
}